doctype 5
html(lang="en")
    head
        title Pushing the Limits of Mobile
        meta(name="viewport", content="width=1024")
        link(href='./lib/foundation/stylesheets/foundation.min.css', rel='stylesheet')
        link(href='style.css', rel='stylesheet')

    body.impress-not-supported
        #impress

            .step.slide(data-x='-2000')
                h1 Jonathan Kim
                h3 @hijonathan

            .step.slide.accented(data-x='0')
                h1 Pushing the Limits of (Mobile) Email

            .step.slide(data-x='1000', data-y='0')
                h1 What am I Talking About?

            #big-picture.step.slide(data-x='1500', data-y='-1500', data-z='6000', data-scale='6')
                h2 There is still plenty of
                h1 Innovation in Email

            //- In fact, there's SO much innovation there, that we need a framework.
            //- That's right....

            .step.slide(data-x='2000', data-y='0')
                h1 We Need a Framework for Innovation

                //- I'm hoping to share these techniques I've discovered,
                //- but more than that, I'd like to impart on you a way of thinking
                //- about email creatively, boldly.


            //- Talk about the concerns, support issues

            .step.slide(data-x='3000', data-y='0', data-z='0')
                h1 This is NSFW*
                p * Not safe for Windows (Outlook)

            //- .step.slide(data-x='9000', data-y='0', data-z='4000', data-scale='3')
            //-     h1 This stuff is still experimental

            //- .step.slide(data-x='9000', data-y='1600', data-z='4000', data-scale='1')
            //-     h1
            //-         em.accent Au revoir!
            //-         br
            //-         | Antiquated email clients


            #standout.step.slide.numbered-set(data-x='0', data-y='1000')
                span.count #1
                h1
                    | The Tools to
                    br
                    | Stand Out

            .step.slide.jumbo(data-x='0', data-y='2000')
                h1 A remarkable email
                a(href='https://twitter.com/hunterwalk/status/305877521583439872')
                   img.tweet(src='tweet.png')

            .step.slide.iframe(data-x='0', data-y='3000')
                h1 Subtle animations
                iframe(src='./examples/animation.html')
                p
                    a.button.secondary.small(href='./examples/animation.html') Full email

            .step.slide.iframe(data-x='0', data-y='4000')
                h1 Richer images
                iframe(src='./examples/drawing.html')
                p
                    a.button.secondary.small(href='./examples/drawing.html') Full email


            #engage.step.slide.numbered-set(data-x='1500', data-y='1000')
                span.count #2
                h1
                    | The Power to
                    br
                    | Engage

            .step.slide(data-x='1500', data-y='2000')
                blockquote
                    | "I love getting unstyled, impersonal marketing emails that I can share with all my friends and colleagues."

                .attrib &mdash; No one, ever

            .step.slide.iframe(data-x='1500', data-y='3000')
                h1 Full video in email
                iframe(src='./examples/video.html')
                p
                    a.button.secondary.small(href='./examples/video.html') Full email

            .step.slide.iframe(data-x='1500', data-y='4000')
                h1 Read more inline
                iframe(src='./examples/readmore.html')
                p
                    a.button.secondary.small(href='./examples/readmore.html') Full email


            #convert.step.slide.numbered-set(data-x='3000', data-y='1000')
                span.count #3
                h1
                    |The Opportunity to
                    br
                    | Convert

            .step.slide(data-x='3000', data-y='2000')
                h1 Conversion hurdles
                table
                    tr
                        td
                            a.button.alert Click to Read More
                        td goes to the web

                    tr
                        td
                            a.button.success Purchase this Item
                        td prompts a log in screen

                    tr
                        td
                            a.button Confirm Address
                        td shows a success page

            .step.slide.iframe(data-x='3000', data-y='3000')
                h1 Follow immediately
                iframe(src='./examples/twitter.html')
                p
                    a.button.secondary.small(href='./examples/twitter.html') Full email

            .step.slide(data-x='3000', data-y='4000')
                script(src="https://gist.github.com/hijonathan/5046884.js")



            .step.fake(data-x='1500', data-y='-1500', data-z='6000', data-scale='6')

            .step.slide.numbered-set(data-x='0', data-y='5000')
                h1 Think Like a Frontend Engineer

            .step.slide(data-x='1000', data-y='5000')
                h1 If it Works in Chrome, it Works in Mobile

            .step.slide(data-x='2000', data-y='5000')
                h1 Tighten Your Experimentation Cycle

            .step.slide(data-x='3000', data-y='5000')
                h1 And just have fun with it :]


            .step.slide(data-x='1500', data-y='6000', data-scale='2')
                h1 Peeks into the Future

            .step.slide.future-set(data-x='1300', data-y='6180', data-scale='0.2')
                h1 Interactive graphics
                include lib/images/africa.svg

            .step.slide.future-set(data-x='1500', data-y='6180', data-scale='0.2')
                h1 OS integration
                img(src='./lib/images/passbook.png')

            .step.slide.future-set(data-x='1700', data-y='6180', data-scale='0.2')
                h1 Email heatmaps
                img(src='./lib/images/heatmap.jpeg')

            #resources.step.slide(data-x='1500', data-y='7000')
                h1 Resources
                ul
                    li Dan Eden's
                        a(href='http://daneden.me/animate/')  animate.css library
                        |  for easy animations,
                    li
                        a(href='https://github.com/hijonathan/mailgunner') Gunner
                        |  for simple one-off testing,
                    li
                        | and engineering
                        a(href='https://twitter.com/paul_irish')  tweets by Paul Irish

            .step.slide(data-x='1500', data-y='7500')
                h1.accent Questions?

            #fin.step.slide.accented(data-x='1500', data-y='8000', data-z='3000', data-scale='4')
                h1 Thank you

            #overview.step(data-x='1500', data-y='1000', data-z='3000', data-scale='10')

        script(type='text/javascript', src='./lib/impress/impress.js')
        script(type='text/javascript')
            impress().init();

