doctype 5
html(lang="en")
    head
        title Pushing the Limits of Mobile
        meta(name="viewport", content="width=1024")
        link(href='../foundation/stylesheets/foundation.min.css', rel='stylesheet')
        link(href='style.css', rel='stylesheet')

    body.impress-not-supported
        #impress

            .step.slide(data-x='-2000')
                h1 Jonathan Kim
                h3 @hijonathan

            .step.slide.accented(data-x='0')
                h1 Pushing the Limits of (Mobile) Email

            .step.slide(data-x='1000', data-y='0')
                h1 What am I Talking About?

            #big-picture.step.slide(data-x='1500', data-y='-1500', data-z='6000', data-scale='6')
                h2 There is still plenty of
                h1 Innovation in Email

            //- In fact, there's SO much innovation there, that we need a framework.
            //- That's right....

            .step.slide(data-x='2000', data-y='0')
                h1 We Need a Framework for Innovation

                //- I'm hoping to share these techniques I've discovered,
                //- but more than that, I'd like to impart on you a way of thinking
                //- about email creatively, boldly.


            //- Talk about the concerns, support issues

            .step.slide(data-x='3000', data-y='0', data-z='0')
                h1 An Important Side Note

            .step.slide(data-x='9000', data-y='0', data-z='4000', data-scale='3')
                h1 This stuff is still experimental

            .step.slide(data-x='9000', data-y='1600', data-z='4000', data-scale='1')
                h1
                    em.accent Au revoir!
                    br
                    | Antiquated email clients


            .step.slide.numbered-set(data-x='0', data-y='1000')
                span.count #1
                h1
                    | The Tools to
                    br
                    | Stand Out

            .step.slide(data-x='0', data-y='2000')
                img(src='tweet.png')

            .step.slide(data-x='0', data-y='3000')
                img(src='tweet.png')

            .step.slide(data-x='0', data-y='4000')
                img(src='tweet.png')


            .step.slide.numbered-set(data-x='1500', data-y='1000')
                span.count #2
                h1
                    | The Power to
                    br
                    | Engage

            .step.slide(data-x='1500', data-y='2000')
                img(src='tweet.png')

            .step.slide(data-x='1500', data-y='3000')
                img(src='tweet.png')

            .step.slide(data-x='1500', data-y='4000')
                img(src='tweet.png')


            .step.slide.numbered-set(data-x='3000', data-y='1000')
                span.count #3
                h1
                    |The Opportunity to
                    br
                    | Convert

            .step.slide(data-x='3000', data-y='2000')
                img(src='tweet.png')

            .step.slide(data-x='3000', data-y='3000')
                img(src='tweet.png')

            .step.slide(data-x='3000', data-y='4000')
                img(src='tweet.png')


            .step.fake(data-x='1500', data-y='-1500', data-z='6000', data-scale='6')

            .step.slide.numbered-set(data-x='0', data-y='5000')
                h1 Think Like a Frontend Engineer

            .step.slide(data-x='1000', data-y='5000')
                h1 If it Works in Chrome, it Works in Mobile

            .step.slide(data-x='2000', data-y='5000')
                h1 Tighten Your Experimentation Cycle

            .step.slide(data-x='3000', data-y='5000')
                h1 And just have fun with it :]

            .step.slide(data-x='1500', data-y='6500')
                h1.accent Questions?

            #fin.step.slide.accented(data-x='1500', data-y='7000', data-z='3000', data-scale='4')
                h1 Thank you

        script(type='text/javascript', src='../impress/impress.js')
        script(type='text/javascript')
            impress().init();

